<header>
    <nav class="intNav">
        <a href="/catition"><img
                class="logo"
                src="/assets/catition_logo_white.svg"
            /></a>
    </nav>
    <nav>

        <a class="nav" href="/catition/thank-you">Your Signature</a>
        <a class="nav" href="/catition/signers">Signers</a>
        <a class="nav" href="/catition/profile">Profile</a>
        <a class="logout" href="/catition/logout">Logout</a></nav>
</header>