<header>
    <nav class="intNav">
        <a href="/"><img
                class="logo"
                src="/assets/catition_logo_white.svg"
            /></a>
    </nav>
    <nav>

        <a class="nav" href="/thank-you">Your Signature</a>
        <a class="nav" href="/signers">Signers</a>
        <a class="nav" href="/profile">Profile</a>
        <a class="logout" href="/logout">Logout</a></nav>
</header>