{{log 'cityUser' foundCity}}
{{> header}}

<main>
    <section>
        <ul>
            {{#each foundCity}}
            <li></li>
            {{/each}}
        </ul>
    </section>
</main>