{{> header_out}}
<main>
    <h1>Catition Login</h1>
    <section>
        <form action="/catition/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="{{#if error}}{{email}}{{/if}}">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="{{#if error}}{{password}}{{/if}}">
        <button type="submit">Login</button>
        </form>
        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}
        </section>
</main>