{{> header_without_thankyou}}

<main>
    <section>
        <h1>Cats for every household</h1>
        <h2>Tell me more if you want</h2>
    </section>
    <section>
        <form action="/catition/more" method="POST">
                <label for="age">Age</label pattern="[0-9]">
                <input type="number" name="age" id="age">
                <label for="city">City</label>
                <input type="text" name="city" id="city">
                <label for="website">website</label>
                <input type="url" name="website" id="website">
            <button type="submit">Continue</button>
        </form>
    </section>
</main>