{{> header}}

<main class="notfound">
    <section>
    <h1>Something went wrong</h1>
    <h2>Page not found.</h2>
</section>
    <section><img class="cat_img" src="/assets/void_cat.svg" alt=""></section>
    <a href="/" class="btn_base">Go back</a>
</main>
    