<header>
    <a href="/petition/signers">Signers</a>
</header>
<main>
    <h1>SIGN FOR ???</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt temporibus
        facilis fugiat odio! Assumenda magnam, labore ullam impedit ex, placeat
        iure dolorum rerum beatae autem, rem incidunt recusandae est obcaecati?</p>
    <section>
        <form action="/petition" method="POST">
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" required />
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" required />
            <label for="sig" Signature></label>
            <input type="hidden" name="signature" id="sig" value="" />
            <canvas id="signature-field"></canvas>

            <button type="submit">Sign</button>
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
        </form>
    </section>
</main>

<script src="/canvas.js"></script>