<header></header>
<main>
    <section>
        <form action="/petition" method="POST">
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" required />
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" required />
            <label for="sig" Signature></label>
            <input type="hidden" name="signature" id="sig" required />
            <canvas id="signature-field"></canvas>
        </form>
    </section>
</main>