{{> header_without_thankyou}}
<main>
    <section>
        <h1>Cats for every household</h1>
        <h2>Sign it now!</h2>
        
    </section>
    <section>
        <form action="/sign" method="POST">
            <label for="sig">Signature</label>
            <div>
            <input type="hidden" name="signature" id="sig" value=""  />
            <canvas id="signature-field"></canvas>
            </div>
            <div class="sign_buttons">
            <button type="submit">Submit</button>
            <button type="reset" id="reset">Reset</button></div>
            
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
        </form>
    </section>
</main>