{{> header}}
<main>
    <section>
        <h1>Cats for every household</h1>
        <h2>Benefits of having a cat</h2>
        <p>Good for your heart lowery your stress level, improving Sleep quality, fewer allergies
        </p>
    </section>
    <section>
        <form action="/catition/sign" method="POST">
            <label for="sig">Signature</label>
            <div>
            <input type="hidden" name="signature" id="sig" value=""  />
            <canvas id="signature-field"></canvas>
            </div>
            <button type="submit">Submit</button>
            <button type="reset" id="reset">Reset</button>
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
        </form>
    </section>
</main>