{{> header}}
<main>
    <h1>Cats for every household</h1>
    <h2>Benefits of having a cat</h2>
    <p>Good for your heart lowery your stress level, improving Sleep quality, fewer allergies
    </p>
    <section>
        <form action="/petition" method="POST">
            <div>
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" required />
            </div>
            <div>
                <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" required />
            </div>
            <div>
                <label for="sig">Signature</label>
            <input type="hidden" name="signature" id="sig" value=""  />
            <canvas id="signature-field"></canvas>
            </div>

            <button type="submit">Sign</button>
            <button type="reset" id="reset">Reset</button>
            {{#if error}}
                <p class="error">{{error}}</p>
            {{/if}}
        </form>
    </section>
</main>

{{!-- <script src="/canvas.js"></script> --}}
<script src="/canvas_copy.js"></script>