{{> header}}

<main>
    <section>
        <form action="/profile" method="POST">
            <div>
                <label for="age">Age</label>
                <input type="number" name="age" id="age">
            </div>
            <div>
                <label for="city">City</label>
                <input type="text" name="city" id="city">
            </div>
            <div>
                <label for="website">website</label>
                <input type="url" name="website" id="website">
            </div>
            <button type="submit">Continue</button>
        </form>
    </section>
</main>