{{> header_out}}
<main>
    <section>
        <form action="/register" method="post">
                <label for="fname">First name:</label>
                <input type="text" name="first_name" id="fname" required>
                <label for="lname">Last name:</label>
                <input type="text" name="last_name" id="lname" required>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>   
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            <button type="submit">Register</button>
        </form>
    </section>
</main>