<header>
    <a href="/petition/signers">Signers</a>
</header>
<main>
    <h1>Thank you</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quae
        sint impedit nostrum eaque vero nemo quidem temporibus hic omnis quam,
        nobis culpa reiciendis nulla, beatae consequatur tenetur saepe. Facere!</p>
    <a href="/petition/signers">See all signers</a>
</main>